/* basic setup */
* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	outline: 0;
}

body {
	font-family: 'Open Sans';
	font-size: 0.85em;
	background: #333; /*1F561F*/
	color: #fff;

	/* no user select */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin-bottom: 15px;
	line-height: 150%;
}

ol,
ul {
	margin-right: 15px;
}



/* basic classes */
.align-left {
	float:left;
	margin-right: 15px;
}

.align-right {
	float:right;
	margin-left: 15px;
}

/* basic structure */
#wrapper {
	padding: 10px 00px;
}

header {
	position: relative;
	clear:both;
	padding: 0px 20px;
}

h1 {
	font-family: 'Rancho';
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
}

h1 span {
	font-family: 'Open Sans';
	font-size: 0.4em;
	color:#A4E223;
	position: relative;
	top:-10px;
}

footer p {
	font-size: 0.8em;
	text-align: center;
	margin-bottom: 5px;
}

header h1 {
	position: absolute;
	left:30px;
	top:-8px;
}

/* navigation */
nav ul {
	list-style-type: none;
	margin-top: 10px;
	text-align: right;
}

nav ul li {
	display: inline-block;
	margin-left: 10px;
}

nav ul li a i {
	display: none !important;
}

nav ul li a,
nav ul li a:link,
nav ul li a:active {
	text-decoration: none;
	color:#fff;
}

nav ul li a:hover {
	color:#A4E223;
}

a,
a:link,
a:active {
	text-decoration: none;
	color:#fff;
}

a:hover {
	color:#A4E223;
}


/* normal links */
#map a,
#map a:link,
#map a:active {
	color:#8DC120;
}

#map a:hover {
	color:#A4E223;
}


/* leaflet */
#map {
	height: 500px;
	clear:both;
	color:#000;
}

#mapWrapper {
	position: relative;
}

#dealerInfoWrapper {
	position: absolute;
	bottom: 0px;
	z-index: 9999;
	background: #fff;
	color:#000;
	width: 100%;
	display: none;
}

.clickable {
	cursor: pointer;
}

.clickable i {
	visibility: visible !important;
	opacity: 1 !important;
	transition: visibility 0.5s, opacity 0.5s linear;
}

#dealerInfo i {
	visibility: hidden;
	opacity: 0;
	float:right;
}

#dealerInfo {
	text-align: center;
	border-bottom: 1px solid #eee;
}

#dealerInfo h2 {
	margin-bottom: 0;
}

#dealerInfo h2 span{
	font-family: 'Open Sans';
	color:#666;
	font-size: 0.8em;
}


#dealerInfo,
#dealerDescription {
	padding: 10px 20px;
}

#dealerDescription {
	display: none;
	text-align: center;
}


#dealerDescription .note{
	color:#666;
}

.stock {

}

.stock-unknown {
	color:#666;
}

.stock-full {
	color:#8DC120;
}

/* the filters */
.filter {
	display: none;
	position: absolute;
	top: 57px;
	padding: 5px 0;
	left:0px;
	z-index: 10000;
	background: #7FAF1B;
	width: 100%;
	border-top:1px solid #fff;
}

.filter > label:hover {
	color:#000;
}

.filter label {
	
	cursor: pointer;
	display: inline-block;
}

#dealerTypes {
	text-align: center;
}

#selectOptions {
	margin-left: 15px;
	display: inline-block;
}

#selectOptions a {
	color:#000;
}

#selectOptions a:hover {
	color:#333;
}

#products label {
	margin-left: 20px;
	width:160px;
	font-size: 0.8em;
}

#dealerTypes label {
	margin: 0px 10px;
	width:105px;
	font-size: 1em;
}

.filter label input {
	margin-right: 5px;
	position: relative;
	top:2px;
}

#searchbar {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; 
}

#search button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
}

#search input {
	border: 1px solid #7FAF1B;
	padding: 5px 10px;
	width: 100px;
	color: #000;
}

#search button {
	padding: 6px 5px;
	margin: 0;
	margin-left: -4px;
	cursor: pointer;
	width: auto !important;
	background: #7FAF1B;
	color:#fff !important;
}
#search button:hover {
	background: #A4E223;
}


/* mobile fixes */
@media (max-width: 580px) {
	header h1 {
		top:-4px;
		font-size: 1.5em;
	}


}

@media (max-width: 550px) {
	header h1 {
		position: static;
		afont-size: 0.8em;
		text-align: center;
		margin-bottom: 0;
	}
	nav ul {
		text-align: center;
		margin-top: 0px;
	}

	/* toggle symbols*/
	nav ul li a i {
		display: inline !important;
	}

	nav ul li a span {
		display: none;
	}

	nav ul li {
		line-height: 200%;
	}

	#search input {
		width: 60px;
	}
}